body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.buttonBody {
    height: 100px;
}

button {
    font-weight: 700;
    background-color: white;
    border: 2px dotted black;
    height: 60px;
    width: 124px;
    border-radius: 80px;
    transition: 0.2s all;
}

button:hover {
    border: 3px solid lightblue;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 640px;
}

.gridItem {
    height: 40px;
    width: 40px;
    background-color: rebeccapurple;
}